[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
crispy-bootstrap5 = "*"
rabbitmq = "*"
celery = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.9"
