{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!--enctype="multipart/form-data" - bu kod rasm fayli uchun qo'shildi-->
<div class = "row">
    <div class="col-4">

    </div>
    <div class="col-4">
        <h3>Profilni tahrirlash</h3>
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form | crispy}}
            <button class = "btn btn-primary">Update changed</button>
        </form>
    </div>
     <div class="col-4">

    </div>
</div>

{% endblock %}